html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 1130px;
}

.header {
    width: 100%;
    height: 110px;
}

.logo {
    display: inline-block;
    width: 221px;
    height: 56px;
    background-image: url(/img/logo.png);
    margin-top: 54px;
    margin-left: 170px;
}

.nav-menu-container {
    float: right;
    margin-top: 75px;
    margin-right: 170px;
    font-family: "Playfair Display";
}

.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-menu-item {
    float: left;
    display: block;
    text-align: center;
    padding-right: 18px;
}

.nav-menu-item-link {
    text-decoration: none;
    color: #4B4856;
    font-family: "Playfair Display";
    font-size: 20px;
    line-height: 27px;
}

.highlight-section {
    width: 100%;
    height: 505px;
    margin-top: 60px;
    background-image: url(/img/pexels-photo-48603White@2x.png);
    background-size: 707px 505px;
    background-repeat: no-repeat;
    background-position: right bottom;
    position: relative;
}

.highlight-header-container {
    width: 300px;
    height: 325px;
    margin-left: 15%;
    position: absolute;
    top: 50%;
    margin-top: -162px;
}

.highlight-header {
    height: 245px;
    color: #4B4856;
    font-family: "Playfair Display";
    font-size: 43px;
    line-height: 58px;
    margin-bottom: 35px;
    display: block;
}

.call-to-action {
    display: block;
    width: 260px;
    height: 45px;
    border: 2px solid #EF897E;
    border-radius: 100px;
    color: #EF897E;
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 45px;
    text-transform: uppercase;
    text-decoration: none;
}

.video-section {
    width: 100%;
    height: 720px;
    padding-top: 60px;
}

.section-title {
    width: 100%;
    text-align: center;
    color: #4B4856;
    font-family: "Playfair Display";
    font-size: 35px;
    line-height: 47px;
}

.video-container {
    width: 778px;
    height: 486px;
    margin: 60px auto;
    background-color: #4B4856;
}

.video-player {
    width: 778px;
    height: 486px;
}

.section-line {
    height: 3px;
    width: 199px;
    border-bottom: 3px solid #EF897E;
    margin: 0 auto;
}

.features-section {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 80px;
}

.slider-container {
    width: 800px;
    margin: auto;
}

.slider-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 24px;
    height: 24px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    background-color: transparent;
    border: none;
    outline: none;
    background-image: url(/img/hover@2x.png);
    background-size: 8px 16px;
    background-repeat: no-repeat;
    background-position: center center;
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
    left: -50;
}

.slider-next:hover {
    background-image: url(/img/normal@2x.png);
    cursor: pointer;
}

.slider-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 24px;
    height: 24px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    background-color: transparent;
    border: none;
    outline: none;
    background-image: url(/img/hover@2x.png);
    background-size: 8px 16px;
    background-repeat: no-repeat;
    background-position: center center;
    right: -50;
}

.slider-prev:hover {
    background-image: url(/img/normal@2x.png);
    cursor: pointer;
}

.feature-tiles-container {
    width: 100%;
    height: 315px;
    margin-top: 70px;
    text-align: center;
}

.feature-tiles-group {
    height: 315px;
}

.feature-tile {
    width: 220px;
    height: 315px;
    display: inline-block;
    vertical-align: top;
}

.feature-tile-space {
    width: 60px;
    height: 315px;
    display: inline-block;
    vertical-align: top;
}

.feature-tile-image-container {
    width: 100%;
    height: 75px;
    margin-bottom: 20px;
}

.feature-tile-image {
    width: 75px;
    height: 75px;
    margin: 0 auto;
}

.feature-tile-title {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    color: #4B4856;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
}

.feature-tile-content {
    width: 100%;
    height: 160px;
     color: #4B4856;
    font-family: Raleway;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}

.footer {
    width: 100%;
    padding-top: 60px;
}

.footer-content-container {
    height: 460px;
    text-align: center;
}

.footer-content-image {
    width: 414px;
    height: 460px;
    display: inline-block;
    vertical-align: top;
    background-image: url(/img/DraIpad@2x.png);
    background-size: 414px 458px;
    background-repeat: no-repeat;
    background-position: left center;
}

.footer-content {
    width: 435px;
    height: 460px;
    display: inline-block;
    vertical-align: top;
}

.footer-content-logo {
    width: 221px;
    height: 56px;
    background-image: url(/img/logo.png);
    margin: 16px auto 75px;
}

.footer-content-highlight {
    width: 100%;
    color: #4B4856;
    font-family: "Playfair Display";
    font-size: 26px;
    line-height: 35px;
    text-align: center;
}

.footer-content-line {
    height: 4px;
    width: 220px;
    border-bottom: 4px solid #9BD4D7;
    margin: 60px auto 75px;
}

.footer-content-text {
    color: #4B4856;
    font-family: Raleway;
    font-size: 14px;
    line-height: 16px;
}

.footer-content-stores-container {
    height: 46px;
    margin-top: 34px;
}

.footer-content-applestore {
    width: 140px;
    height: 46px;
    display: inline-block;
    background-image: url(/img/appstore@2x.png);
    background-size: 140px 46px;
}

.footer-content-googleplay {
    width: 140px;
    height: 46px;
    display: inline-block;
    background-image: url(/img/google@2x.png);
    background-size: 140px 46px;
    margin-left: 18px;
}

.footer-bottom-bar {
    width: 100%;
    height: 90px;
    margin-top: 100px;
    background-color: #4B4856;
    color: #FFFFFF;
    font-family: Raleway;
    position: relative;
}

.footer-copyright {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    margin-left: 180px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.footer-contact-container {
    float: right;
    margin-right: 180px;
    display: table-row;
}

.footer-contact-icon {
    width: 33px;
    height: 90px;
    background-image: url(/img/placeholder.png);
    background-size: 18px 20px;
    background-repeat: no-repeat;
    background-position: left center;
    display: table-cell;
}

.footer-contact {
    font-size: 17px;
    line-height: 90px;
    text-align: center;
    display: table-cell;
}